{% extends 'base.html' %}
{% block content %}
<div id="about-page">
    <h2 class="abt-me">About Me</h2><br>
    <p class="about-con">I am a skilled full-stack developer with a strong foundation in Python and Django. I have
        experience in building robust and scalable web applications from the ground up. My projects have involved
        designing and implementing user-friendly interfaces, developing efficient backend systems, and integrating with
        various APIs and databases. I am proficient in HTML, CSS, JavaScript. I am passionate about crafting clean,
        maintainable, and high-performance code, and I am always eager to learn and explore new technologies</p>
</div>
{% endblock content%}